@import url(__columns/footer__columns.css);
@import url(__logo/footer__logo.css);


.footer {
    justify-content: center;
    padding: 60px 0 40px;
    box-sizing: border-box;
    background-color: #1f1f1f;
    min-height: 350px;
    display: flex;
  }